#navbar {
  margin-bottom:0;
  border-radius:0;
}

#header {
  padding:0;
  height:350px;
  overflow:hidden;
  padding:0;
}

#background {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}

#header .jumbotron {
  background-color:transparent;
  text-align:center;
  color:white;
}

.jumbotron .btn-primary {
  background-color:transparent;
  border-color:white;
}