#navbar {
  margin-bottom:0;
  border-radius:0;
}

.center-text {
  text-align:center;
}

/* Home */
#header {
  padding:0;
  height:350px;
  margin-bottom:40px;
  overflow:hidden;
}

#background {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}

#header .jumbotron {
  background-color:transparent;
  text-align:center;
  color:white;
}

.jumbotron .btn-primary {
  background-color:transparent;
  border-color:white;
}

#features i {
  margin-bottom:20px;
}

/* Must */
#must {
  margin-top:50px;
}

.star-rating {
  margin-top:70px;
}