h1 = "Reviews: #{@must.reviews.size}"
h1 = "Rating: #{Must.calculate_rating(@must)}"
p = "Location: #{@must.location}"
p = "Year: #{@must.year}"
p = "Manufacturer: #{@must.manufacturer}"
p = "Package: #{@must.package}"

- for review in @must.reviews
  h2 = "#{review.title}   :  #{review.rating}"
  p = review.content